{% extends "base.html" %}

{% block title %}扫脸{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div class="wrapper">
    <h3>进入扫脸</h3>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <header class="panel-heading">
                你在看着他们，老大哥在看着你
                <span class="tools pull-right">
                    <a href="javascript:" class="fa fa-chevron-down"></a>
                    <a href="javascript:" class="fa fa-times"></a>
                </span>
            </header>
                    <div class="panel-body">
                        本页面作模拟测试之用，因为一般来讲，刷脸机器在门口固定着，而不是显示在网页上。
                        所以这里使用窗口进行模拟，点击开始扫脸后，弹出窗口进行扫描，并把记录返回到后端。
                    </div>
                <br>
            <span class="msg"> {{ msg }} </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}