{% extends "base.html" %}

{% block title %}扫车牌{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div class="wrapper">
    <h3>进入扫车牌</h3>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <header class="panel-heading">
                你在看着他们，老大哥在看着你
                <span class="tools pull-right">
                    <a href="javascript:" class="fa fa-chevron-down"></a>
                    <a href="javascript:" class="fa fa-times"></a>
                </span>
            </header>
                    <div class="panel-body">
                        扫描到的车牌为{{ vp }}<br>
                        车主为{{ person.name }}<br>
                        联系方式为{{ person.phone_num }}<br>
                    </div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}