{% extends "base.html" %}

{% block title %}外来车辆后台界面{% endblock %}

{% block head %}
  <!--data table-->
  <link rel="stylesheet" href="../static/js/data-tables/DT_bootstrap.css" />

  <link href="../static/css/style.css" rel="stylesheet">
  <link href="../static/css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js"></script>
    <script src="../static/js/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block body %}


<div class="wrapper">
    <h3>车辆一览</h3>
<div class="row">
                <div class="col-sm-12">
                <section class="panel">
                <header class="panel-heading">
                    外来车辆信息
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                     </span>
                </header>
                <div class="panel-body" style="display: block;">
                <div class="adv-table editable-table ">
                <div class="clearfix">


                </div>
                <div class="space15"></div>
                <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="row"><div class="col-lg-6"></div>
                        <div class="col-lg-6"><div class="dataTables_filter" id="editable-sample_filter">
                            <form action="{{ url_for('backstage.temp_vehicle_search') }}" method="post">
                                <div class="col-lg-10">
                                    <input type="text" id="inputEmail1" placeholder="输入想要搜索的内容" name="ctt" style="padding:0.5em;border-radius:10px;">
                                    <button type="submit" class="btn btn-primary">搜索</button>
                                </div>
                            </form>
                        <div class="btn-group pull-right">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">工具 <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">打印</a></li>
                            <li><a href="{{ url_for('backstage.export_vehicle') }}" onmouseup="exportToExcel()">导出Excel</a></li>
                        </ul>
                        </div>
                        </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover table-bordered dataTable" id="editable-sample" aria-describedby="editable-sample_info">
                <thead>
                <tr role="row">
                   <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="First Name" style="width: 225.4px;">车辆牌照</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" aria-label="Points: activate to sort column ascending" style="width: 142.4px;">车主编号(外来人员)</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 272.4px;">车主姓名</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 272.4px;">车主电话</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" aria-label="Edit: activate to sort column ascending" style="width: 100.4px;">编辑信息</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" aria-label="Delete: activate to sort column ascending" style="width: 146.4px;">删除操作</th></tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                {% for tv in temp_vehicles%}
                <tr class="even">
                    <td class="  sorting_1">{{ tv.vp }} </td>
                    <td class=" "> {{ tv.owner_id }}</td>
                    <td class="center ">{{ tv.owner.name }}</td>
                    <td class=" ">{{ tv.owner.phone_num }}</td>
                    <td class=" ">
                        <button type="button" id="editable-sample_new" class="btn btn-success btn-xs" onclick="showPopup({{ tv.id }})">编辑
                        <i class="fa fa-magic"></i></button>
                        <form action="{{ url_for('backstage.temp_vehicle_edit', tv_id=tv.id) }}" method="post" role="form" class="form-horizontal">
                            <div class="popup" id="popup_{{ tv.id }}">
                            <label for="id">车辆ID:</label>
                            <input type="number" id="id" name="id" value="{{ tv.id }}" disabled="disabled">
                            <label for="vp">车牌:</label>
                            <input type="text" id="vp" name="vp" value="{{ tv.vp }}" required>
                            <label for="owner_name">车主姓名:</label>
                            <input type="text" id="owner_name" name="owner_name" value="{{ tv.owner.name }}" disabled="disabled">

                            <label for="owner_id">车主ID:</label>
                            <input type="number" id="id" name="id" value="{{ tv.owner_id }}" disabled="disabled">

                            <button type="submit">保存</button>
                            <button onclick="hidePopup({{ tv.id }})" type="button">取消</button>
                        </div>
                    </form>
                    </td>
                    <td class=" "><button id="editable-sample_new" class="btn btn-warning btn-xs" >
                            <a class="delete" href="{{ url_for('backstage.temp_vehicle_delete', tv_id=tv.id) }}">删除</a>
                             <i class="fa fa-minus"></i>
                    </button></td>
                </tr>
                {% endfor %}
                </tbody></table>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="dataTables_info" id="editable-sample_info">当前共有{{ temp_vehicles|length }}条记录
                            </div>
                        </div>
                    <div class="col-lg-6"><div class="dataTables_paginate paging_bootstrap pagination">
                        </div></div></div></div>
                </div>
                </div>
                </section>
                </div>
                </div>

</div>
<!--data table-->
<script type="text/javascript" src="{{ url_for('static', filename='js/data-tables/jquery.dataTables.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/data-tables/DT_bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/data-tables/editable-table.js') }}"></script>



<!--script for editable table-->
<script src="../static/js/editable-table.js"></script>

<!-- END JAVASCRIPTS -->
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>
{% endblock %}