{% extends "base.html" %}

{% block title %}历史信息{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
	<div class="wrapper">
    <h3>历史信息</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <header class="panel-heading">
                    进出信息
                    <span class="tools pull-right">
                        <a href="javascript:" class="fa fa-chevron-down"></a>
                        <a href="javascript:" class="fa fa-times"></a>
                    </span>
                </header>
                <div class="panel-body">
                    好
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}